@import './media';
@import './responsive';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.heading {
	background: #eff6ff;
	padding: 2rem;
	p {
		color: rgb(0, 0, 0);
		font-size: 1.5rem;
		text-align: center;
	}
}
.container {
	width: 100%;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	@include mobile {
		padding-left: 0;
		padding-right: 0;
	}
}
.container_box {
	width: 100%;
	height: 80vh;
	background: #f9fafb;
	display: flex;

	.user_container {
		width: 300px;
		min-width: 300px;
		display: flex;
		flex-direction: column;
		background: rgb(255, 198, 252);
		.toggle {
			display: none;
			@include mobile {
				cursor: pointer;
				display: block;
				position: absolute;
				right: -30px;
				top: 0;
				z-index: 0;
				font-size: 3rem;
				color: rgb(104, 104, 104);
			}
		}
	}
	.chat_container {
		flex: 1;
		display: flex;
		flex-direction: column;
		// padding: 1rem;
	}
}

.user_heding {
	z-index: 1;
	font-size: 2rem;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	display: flex;
	background: rgb(239, 212, 255);
	justify-content: center;
	color: #000;
}
.users {
	z-index: 1;
	width: 100%;
	overflow: auto;
	.user {
		background: rgb(255, 206, 249);
		// border: 1px solid red;
		cursor: pointer;
		margin-bottom: 0.4rem;
		p {
			padding: 1rem;
			text-align: center;
			// border: 1px solid blue;
		}
	}
}

// right side start box
header {
	background: rgb(255, 232, 255);
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	width: 100%;
	align-items: center;
	p {
		font-size: 2rem;
		text-align: center;
	}
}

// people chat
.people_chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	overflow: auto;
	&::before {
		content: '';
		margin-bottom: auto;
	}
	//msg list
	.people {
		align-self: flex-start;
		max-width: 70%;
		.sms {
			background: rgb(255, 218, 218);
			box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
			padding: 10px 5px;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		.time {
			text-align: right;
			color: #999;
			font-size: 0.75em;
		}
	}
	.me {
		align-self: flex-end;
		.sms {
			background: #fcd5ff;
		}
	}
}
// footer start
.footer {
	display: flex;
	background-color: rgb(243, 224, 255);
	padding: 0 1rem;
	align-items: center;
	display: flex;
	height: 4rem;
	div {
		margin-right: 0.5rem;
		font-size: 1.2rem;
		cursor: pointer;
	}
	input {
		flex: 1;
		border-radius: 50px;
		border: none;
		padding: 0.6rem 20px;
		margin-right: 0.5rem;
	}
	.send {
		color: rgb(144, 144, 255);
		cursor: pointer;
		font-size: 1.2rem;
	}
}
.pin {
	position: relative;
	.pin_container {
		// background: #000;
		bottom: 2rem;
		left: -10px;
		display: table-row;
		position: absolute;
		display: none;

		transition: 0.4s all ease-out;
		i {
			margin-bottom: 1rem;
			font-size: 1.5rem;
			background-color: rgb(244, 202, 255);
			padding: 0.8rem 0.9rem;
			border-radius: 50px;

			color: rgb(118, 44, 255);
		}
	}
}

.pin_container.showpin {
	display: block;

	transition: 0.4s all ease-out;
}
