@import './media';
@import './responsive';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.heading {
	background: #eff6ff;
	padding: 2rem;
	p {
		color: rgb(0, 0, 0);
		font-size: 1.5rem;
		text-align: center;
	}
}
.container {
	width: 100%;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	@include mobile {
		padding-left: 0;
		padding-right: 0;
	}
}
.container_box {
	width: 100%;
	height: 80vh;
	background: #f9fafb;
	display: flex;

	.user_container {
		width: 300px;
		min-width: 300px;
		display: flex;
		flex-direction: column;
		background: #e0e7ff;
		// scroll bar
		scrollbar-width: thin; /* "auto" or "thin" */
		scrollbar-color: #a5b4fc #c4b5fd;
		&:-webkit-scrollbar {
			width: 5px; /* width of the entire scrollbar */
		}
		.toggle {
			display: none;
			i {
				color: #818cf8;
			}
			@include mobile {
				cursor: pointer;
				display: block;
				position: absolute;
				right: -30px;
				top: 10px;
				z-index: 0;
				font-size: 3rem;
				color: rgb(104, 104, 104);
			}
		}
	}
	.chat_container {
		flex: 1;
		display: flex;
		flex-direction: column;
		scrollbar-width: thin;
		scrollbar-color: #a5b4fc #c4b5fd;

		// padding: 1rem;
	}
}

.user_heding {
	z-index: 1;
	font-size: 2rem;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	display: flex;
	background: #e0e7ff;
	justify-content: center;
	color: #000;
}
.users {
	z-index: 1;
	width: 100%;
	overflow: auto;
	.user {
		background: #eef2ff;
		// border: 1px solid red;
		cursor: pointer;
		border-bottom: 2px solid rgb(255, 255, 255);
		p {
			padding: 1rem;
			text-align: center;
			// border: 1px solid blue;
		}
	}
}

// right side start box
header {
	background: #e0e7ff;
	padding: 1rem;
	width: 100%;
	align-items: center;
	p {
		font-size: 2rem;
		text-align: center;
	}
}

// people chat
.people_chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	overflow: auto;
	&::before {
		content: '';
		margin-bottom: auto;
	}
	//msg list
	.people {
		align-self: flex-start;
		max-width: 70%;
		.sms {
			background: #c4b5fd;
			box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
			padding: 0.8rem 0.6rem;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		.time {
			position: relative;
			top: -8px;
			text-align: right;
			font-size: 0.7rem;
			color: rgb(144, 193, 248);
		}
	}
	.me {
		align-self: flex-end;
		.sms {
			background: #a5b4fc;
		}
		.time {
			text-align: left;
			font-size: 0.7rem;
			color: rgb(144, 193, 248);
		}
	}
}
// footer start
.footer {
	display: flex;
	background-color: #eef2ff;
	padding: 0 1rem;
	align-items: center;
	display: flex;
	height: 4rem;
	div {
		margin-right: 0.5rem;
		font-size: 1.5rem;
		cursor: pointer;
	}
	.emoji {
		color: rgb(146, 184, 255);
	}
	input {
		flex: 1;
		border-radius: 50px;
		border: none;
		padding: 0.6rem 20px;
		margin-right: 0.5rem;
		word-spacing: 1px;
	}
	.send {
		color: rgb(144, 144, 255);
		cursor: pointer;
		font-size: 1.5rem;
	}
}
.pin {
	position: relative;
	.pin_container {
		background: #ede9fec2;
		padding: 1rem 0.5rem;
		border-radius: 10px;
		bottom: 3rem;
		left: -10px;
		display: table-row;
		position: absolute;
		display: none;
		align-items: center;
		transition: 0.4s all ease-out;
		i {
			cursor: pointer;
			margin-bottom: 1rem;
			font-size: 1.5rem;
			background-color: #ddd6fe;
			padding: 0.6rem 0.7rem;
			border-radius: 50px;

			color: #a78bfa;
		}
	}
}

.pin_container.showpin {
	display: block;

	transition: 0.4s all ease-out;
}
